{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row w-100">
        <div class="col-6">
            <h3>File List</h3>
        </div>
        <div class="col-6">
            <a href="{% url 'sync' %}" class="btn btn-info float-right ml-3">
                <i class="fas fa-sync-alt"></i>
            </a>
            <button type="button" class="btn btn-info float-right" data-toggle="modal" data-target="#infoModal">
                <i class="fas fa-info-circle"></i>
            </button>
        </div>
    </div>

    <table class="table mb-0">
        <thead>
        <tr>
            <th width="20%">Name</th>
            <th width="30%">Description</th>
            <th width="30%">Tags</th>
            <th width="20%">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for file in files %}
            <tr>
                <td>{{ file.metadata.filename }}</td>
                <td>{{ file.metadata.description }}</td>
                <td>
                    {% for tag in file.metadata.tags %}
                        {{ tag }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <a href="{% url 'visualize' file.id %}" class="btn btn-info">
                        <i class="fas fa-external-link-square-alt"></i>
                    </a>
                    <a href="{% url 'download' file.id %}" class="btn btn-success">
                        <i class="fas fa-arrow-alt-circle-down"></i>
                    </a>
                    <a href="{% url 'delete' file.id %}" class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="table table-borderless">
            <tbody>
            <tr>
                <td class="px-3" width="20%">
                    <input type="text" name="file_name" class="form-control" placeholder="File Name">
                </td>
                <td class="px-3" width="30%">
                    <input type="text" name="file_description" class="form-control" placeholder="Description">
                </td>
                <td class="px-3" width="30%">
                    <input type="text" name="file_tags" class="form-control" placeholder="Tags">
                </td>
                <td class="px-3" width="20%">
                    <input type="file" name="file_json">
                </td>
            </tr>
            </tbody>
        </table>
        <div class="text-center">
            <button type="submit" class="btn btn-info">Upload</button>
        </div>
    </form>

    <div class="modal" tabindex="-1" role="dialog" id="infoModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Instructions</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ol>
                        <li>Go to <a href="https://takeout.google.com/" target="_blank">Google Takeout</a></li>
                        <li>Select Location History (JSON)</li>
                        <li>Extract the location history data from the archive</li>
                        <li>Upload the JSON file here</li>
                    </ol>
                    <img src="{% static 'steps.gif' %}" class="w-100" alt="">
                </div>
                <div class="modal-footer">
                    <a href="https://takeout.google.com/" target="_blank" class="btn btn-info">Go to Google Takeout</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Proceed to Upload</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        let params = new URLSearchParams(location.search)
        if (params.get('modal')) {
            $("#infoModal").modal('show');
        }
    </script>
{% endblock %}