{% extends 'base.html' %}

{% block content %}

    <div class="row">

        <div class="col-3">
            <h2>Controls</h2>
            <form action="{% url 'visualize' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="file_url" value="{{ file_url }}" />
                <label for="rangepicker">Time Span</label>
                <input type="text" name="date_range" id="rangepicker" class="w-100 form-control mb-3"/>
                <div class="text-center">
                    <button type="submit" class="btn btn-info">Update</button>
                </div>
            </form>
        </div>

        <div class="col-9">
            <h2 id="top_boundary">Map</h2>
            <div id="map" style="height: 800px"></div>
        </div>
    </div>

{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.3/daterangepicker.min.css">
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.heat/0.2.0/leaflet-heat.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/oboe.js/2.1.4/oboe-browser.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.3/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.3/daterangepicker.min.js"></script>


    <script>
      const map = L.map('map').setView([0, 0], 2);
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
      const heat = L.heatLayer([]).addTo(map);

      oboe("{{ file_url }}").node('locations.*', function(location) {
        heat._latlngs.push([location.latitudeE7 * 1e-7, location.longitudeE7 * 1e-7]);
        heat.redraw();
      }).done(function() {
        console.log("DONE")
      }).fail(function() {
        console.log("FAILED")
      });
    </script>

    <script>
      $('#rangepicker').daterangepicker({
        timePicker: true,
        startDate: moment().startOf('hour'),
        endDate: moment().startOf('hour').add(24, 'hour'),
        locale: {
          format: 'M/DD hh:mm A'
        }
      });
    </script>

{% endblock %}
